<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/header :: header(${chat.title})"></head>

<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" th:replace="layouts/topnawbar :: topnavbar ">

    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:replace="layouts/sidebar :: sidebar(${sidebar})"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="${chat.title}">Title</h1>
                    </div>
                    <!--<div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a data-th-href="@{/admin/index}" >Админка</a></li>
                            <li class="breadcrumb-item"><a data-th-href="@{/admin/cards/index}" >Карточки по умолчанию</a></li>
                            <li class="breadcrumb-item active">Создать</li>
                        </ol> /.col --
                </div>< !-- /.col -->
                </div><!-- /.container-fluid -->
            </div>
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-primary">
                            <div class="card-header bg-primary text-white">
                                <h5 class="card-title mb-0" th:text="${chat.title}">Название чата</h5>
                            </div>
                            <form th:action="@{/chat/{id}(id=${id})}"  enctype="multipart/form-data" method="post"  th:object="${chat}">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-2 col-form-label">Введите название чата</label>
                                        <div class="col-sm-10">
                                            <input type="text" th:field="*{title}" class="form-control" id="name" placeholder="Введите название" required>
                                            <small class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Ошибка</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <button type="submit" class="btn btn-primary">Изменить</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<div>
    <!-- jQuery -->
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap -->
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/chart.js/Chart.min.js}"></script>
    <!-- adminlte for demo purposes -->
    <script th:rc="@{/webjars/AdminLTE/3.2.0/dist/js/demo.js}"></script>
    <!-- adminlte dashboard demo (This is only for demo purposes) -->
    <script th:src="@{/webjars/AdminLTE/3.2.0/dist/js/pages/dashboard.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/select2/js/select2.full.min.js}"></script>
    <script th:src="@{/webjars/AdminLTE/3.2.0/plugins/summernote/summernote-bs4.min.js}"></script>
    <script>
        $(function () {
            $('.select2').select2()
            $('.summernote').summernote()
        });
    </script>
</div>
</body>
</html>
