<div th:fragment="actions(entityName, entity)">
    <div class="row">
        <div class="col-md-3">
            <a class="nav-link" data-widget="navbar-search"
               th:href="@{'/admin/' + ${entityName} + '/update/' + ${entity.id}}" role="button">
                <i class="fa-solid fa-pencil"></i>
            </a>
        </div>
        <div class="col-md-3">
            <a class="nav-link" data-widget="navbar-search"
               th:href="@{'/admin/' + ${entityName} + '/one/' + ${entity.id}}" role="button">
                <i class="fa-solid fa-eye"></i>
            </a>
        </div>
        <div class="col-md-3">
            <form th:action="@{'/admin/' + ${entityName} + '/delete/' + ${entity.id}}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-link" role="button">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
</div>