    <aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar(sidebar)">
        <!-- Brand Logo -->


        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
               <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a data-th-href="@{/chat/create}" class="nav-link" >
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Создать новый чат</p>
                        </a>
                    </li>
                    <li class="nav-item" th:each="item : ${sidebar}")>
                        <a data-th-href="@{/chat/{id}(id=item.url)}" class="nav-link" th:classappend="${item.active} ? ' active' : ''" >
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p th:text="${item.name}"></p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

