<div class="col-12 card-body" th:fragment="table(page)">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>№</th>
            <th th:each="fieldName : ${page.displayFields}"
                th:text="${page.fields.get(fieldName) != null ? page.fields.get(fieldName)?.label  : fieldName}">
                Поле
            </th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object, itemStat : ${page.objects?.items()}">
            <td th:text="${itemStat.index}">№</td>
            <td th:each="fieldName : ${page.displayFields}" th:text="${object[fieldName]}">значение</td>
            <td>
                <div class="row">
                    <div class="col-md-2">
                        <a class="nav-link" data-widget="navbar-search" data-th-href="@{/admin/{endPiont}/edit/{id}(endPiont=${page.hrefEndPoint}, id=${object.id})}" role="button">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a class="nav-link" data-widget="navbar-search" data-th-href="@{/admin/{endPiont}/one/{id}(endPiont=${page.hrefEndPoint}, id=${object.id})}" role="button">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <form th:action="@{/admin/{endPiont}/delete/{id}(endPiont=${page.hrefEndPoint}, id=${object.id})}" method="post" style="display: inline;">
                            <button type="submit" class="btn btn-link" role="button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>